.app-title {
    margin-right: 1rem;
}

.container {
    padding: 1rem;
}

mat-toolbar {
    a:last-child {
        margin-left: auto;
        mat-icon {
            margin-bottom: -.25rem;
            font-size: initial;
        }
    }
}